article {
    width: 100%;
    max-width: 55ch;
    font-weight: 500;
    margin: 0 auto;
    line-height: 1.5;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid black;
    padding: 0.5em;
    box-shadow: 0 0 10px 1px black;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 12px;
}

@media screen and (max-width: 500px) {
    article {
        padding: 0.2em;
        width: 95%;
    }
}

@media screen and (max-width: 380px) {
    article {
        font-size: 0.9em;
    }
}