body {
    background-color: rgba(231, 231, 246, 0.279);
}

main {
    background-color: white;
    color: black;
    width: 960px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0;
}

#course-form {
    margin: 0 auto;
}

#error {
    padding: none;
    margin-left: none;
    color: red;
    text-align: center;
    list-style-position: inside;
    margin: none;
    list-style: none;
    li {
        margin-left: none;
        color: red;
        font-weight: bold;
    }
}

#error-container {
    margin: 0 auto;
    text-align: center;
}