body {
    background-color: rgba(231, 230, 231, 0.443);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(255, 168, 6);
    color: black;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0;
    padding: 5em;
    border: 2px solid rgba(121, 114, 114, 0.468);
    border-radius: 30%;
    flex: 1;
}

header {
    background: blueviolet;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

nav {
    display: inline-flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    ul {
        display: flex;
        list-style: none;
        gap: 1em;
        text-decoration: none;
    }
    a {
        padding: 0.5em;
        background-color: rgb(124, 197, 241);
        text-decoration: none;
        height: 100%;
        color: black;
        font-weight: bold;
        border-radius: 8px;
        &:hover {
            background-color: rgb(0, 157, 255, 0.8);
        }
    }
}

footer {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    height: 60px;
    font-family: monospace, sans-serif;
    color: rgb(77, 76, 76);
    letter-spacing: 0px;
}

.current-page {
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width:768px) {
    nav a {
        font-size: 0.95em;
    }
    footer {
        font-size: 0.8em;
    }
}

@media screen and (max-width:420px) {
    h1 {
        font-size: 1.5em;
    }
    nav a {
        font-size: 0.80em;
    }
}

@media screen and (max-width:320px) {
    nav {
        justify-content: flex-start;
        margin-left: 0;
    }
    ul {
        gap: 0.2em;
    }
}