<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Om</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/newcourse">Lägg till kurs</a></li>
                <li><a href="/about" class="current-page">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Om momentet</h1>
        <article>
            <h2>Förklaring & Reflektioner</h2>
            <p>Inom detta moment skapar jag en hemsida för att se och radera kurser som en användare deltagit i. Jag fokuserade på kurser som finns på Mittuniversitetet. Det går att lägga till fler kurser inom sidan "Lägg till kurs". </p>
            <p>För att skapa sidan använde jag Express, EJS och databasservern SQlite3, samt SCSS och VITE.</p>
            <p>Jag har tidigare erfarenhet av MySQL och MariaDB, där jag skapat databas genom CMD. Jag prövade därför SQlite inom denna lösning, samt lärde mig hur jag skapar ett gränssnitt mellan webbsida och databas.</p>
            <p>Upplevde det lite svårare i början att arbeta med denna teknik och integrera databasen med en hemsida, eftersom det är nytt och jag inte gjort denna implementering tidigare. Jag använde mig av SQLite Explorer-tillägget inom VSC för att se
                över databasens struktur.</p>
            <p>Det var roligt att utforska med validering för formuläret samt funktioner som att radera en kurs och avslutningsvis SCSS-styling. </p>
        </article>
    </main>
</body>

</html>