<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Om</title>
</head>

<body>

</body>
<div id="message"></div>
<nav>
    <ul>
        <li><a href="/">Hem</a></li>
        <li><a href="/about">Om</a></li>
        <li><a href="/newcourse">Lägg till kurs</a></li>
    </ul>
</nav>
<main>
    <h1>Om momentet</h1>
    <p>Webbapplikation...</p>
</main>

</html>